<div class="">
     Правила загрузки 
    <br /> 1. Номер. (Столбец не загружается).
    <br /> 2. Наименование и техническая характеристика или Группа 
    (Если Группа, то остальные колонки в строке должны быть пустые). Обязательный.
    <br /> 3. Тип/марка. (Столбец может быть пустым).
    <br /> 4. Код продукции. (Артикул). (Столбец может быть пустым).
    <br /> 5. Производитель. (Поставщик). (Столбец может быть пустым).
    <br /> 6. Ед. изм. (Столбец может быть пустым).
    <br /> 7. Количество. Обязательный.
</div>

@code {

}
