@inherits LayoutComponentBase

<div class="app-container ">

    <div class="topBlock">
        <div class="topBlockLogo">
            <div class="logoMenuShow">
                <div class="imgLogo">
                    <img src="logo.png" alt="WebRoc2B" />
                </div>
            </div>
        </div>
        <div class="topBlockHead"><h4>Стадия: П</h4></div>
        <div class="topBlockAuth">Петров Виктор</div>

@*        <div class="btnExitProject">
            <a href="/">
                Выход из проекта
                <i class="bi bi-arrow-up-square-fill" style="color: gray; font-size: 16px;"></i>
            </a>
        </div>*@

    </div>

    @Body


    <div style="text-align:right; padding-right: 5px;">WebRoc<span style="color:red;">2B</span>, 2022 c Рекурсион</div>
</div>

<RadzenNotification />
<RadzenDialog />
<RadzenTooltip />