@page "/"
@using PriceAnalysis.Shared.Menu

<PageTitle>Главная</PageTitle>

<div class="app-main">

    <!-- Menu -->
    <NavMenu ViewMenu="false"  />

    <div class="app-main__outer col-12">
        <div class="app-main__inner">
            <div class="priceAnalysisMainHead ms-0">
                <h3>Главная страница</h3>
            </div>

            <p>
                <a href="/project-list">
                    К выбору проекта
                    <i class="bi bi-arrow-right-circle-fill" style="color: gray; font-size: 16px;"></i>
                </a>
            </p>
        </div>
    </div>
</div>
